footer ul.socmed {
  justify-content: center;
}

footer ul.socmed li {
  padding-left: 20px;
  padding-right: 20px;
}

.menutoggle:hover, button {
  cursor: pointer;
}

section a:hover, nav a:hover {
  color: #2F75EB!important;
  transition: 1s;
}
.serviceswrapper {
  justify-content: center;
}
