footer ul.socmed {
  justify-content: center;
}

footer ul.socmed li {
  padding-left: 20px;
  padding-right: 20px;
}

.menutoggle:hover, button {
  cursor: pointer;
}

section a:hover, nav a:hover {
  color: #2F75EB!important;
  transition: 1s;
}
.serviceswrapper {
<<<<<<< HEAD
  justify-content: unsafe center;
=======
  justify-content: center;
>>>>>>> 49ad71d4d4ba827fb97f1dc969fd20b37c15160b
}
