* {
  font-size: 14px;
  font-family:  -apple-system, BlinkMacSystemFont, system-ui, 'Helvetica Neue', 'Hiragino Kaku Gothic ProN', '游ゴシック  Medium', meiryo, sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.7rem;
  font-feature-settings: "palt";
  -webkit-text-size-adjust: none;/* Chrome84からは必須 実際より小さく表示されるため */
  text-size-adjust: none;
}

section a {
  text-decoration: none;
  border-bottom: solid 2px;
  padding-bottom: 2px;
}

section li {
  padding-bottom: 5px;
}

section {
  padding-top: 5rem;
}

p, input[type=text], textarea {
  font-size: 16px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h2 {
  font-size: 20px;
}

.thecontent {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.servicedetail {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 75%;
  padding: 2rem;
  border-radius: 12px;
}

.servicemember .servicedetail_button {
  width: 13rem;
  height: 3rem;
  display: block;
  margin: auto;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.servicedetail .title {
  padding-bottom: 1rem;
}
.servicedetail p {
  padding-bottom: 1rem;
}

footer.title {
  margin-top: 5rem;
}

footer a {
  text-decoration: none;
}

footer.title h2 {
  color: #e0e0e0;
}

footer ul.socmed {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer ul.socmed li {
  display: block;
}

footer ul.socmed li img {
  object-fit: contain;
  height: 20px;
  vertical-align: middle;
  padding-right: 5px;
}


.wrapper {
  width: 90%;
  max-width: 800px;
  margin: auto;
}


.footerbottom {
  text-align: center;
  padding-top: 2rem;
}

footer a {
  padding: 5px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: sticky;
  top: 0;
  left: 0;
  height: 30px;
  margin-bottom: -1rem;
}

small {
  font-size: 12px;
}

footer .title {
  
}
footer h2 {
  padding: 0.5rem 0;
}

footer.content {
  padding: 1rem 0 2rem;
}

.menu {
  position: absolute;
  top: 45px;
  right: 1rem;
}

.menu li a {
  display: block;
  padding: 5px 10px;
  margin: 5px 0;
  text-decoration: none;
  font-size: 16px;
}

.sectiontitle {
  margin-bottom: 2rem;
}

.year {
  border: 1px solid;
  border-radius: 5px;
  display: inline-block;
  width: 156px;
  height: 15rem;
  overflow-y: scroll;
  padding: 5px;
  margin: 0 5px;
  white-space: normal;
}

.year li.title {
  border-bottom: 1px solid;
  font-weight: 900;
  margin: 0 -5px 5px;
  text-align: center;
}

.profwrapper {
  padding: 10px 0;
  line-height: 0;
  width: 100%;
/*  height: 200px;*/
  overflow-x: scroll;
  white-space: nowrap;
}

.year .static {
  text-align: center;
  font-weight: 900;
  padding-top: 1rem;
}
